a {
  color: rgb(200, 0, 0);
}

a:hover {
  color: rgb(235, 0, 0);
}

blockquote {
  border-left:3px solid rgb(210, 0, 0);
}

#header nav {
  background: none;
}

#header nav ul li a,
#header nav ul li a:hover {
  border: 1px solid rgb(210, 0, 0);
  background: linear-gradient(rgb(220, 0, 0), rgb(185, 0, 0));
  background-color: rgb(210, 0, 0);
}

#logo {
  height: 80px;
  float: left;
  margin-right: 1.5em;
}

section #title {
  margin: 0 0 25px 0;
}

section #title h1,
section #title p {
  text-align: left;
}

.footer section .credits.left {
  float: left;
}

.footer section .credits.right {
  float: right;
}

.footer section .credits {
  font-size: 11px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #696969;
  margin-top: -10px;
}