<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/boudlo.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/font-awesome-all.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
    <div id="header">
      <nav>
        <ul>
          <li class="logo"><a href="{{ '/' | relative_url }}" class="home"><img src="{{ '/assets/images/BF-arrow-logo-solid-white.png' | relative_url }}" id="logo" alttext="Boudlo Forge Ltd, Guernsey"></a></li>
          <li class="fork"><a href="{{ '/posts' | relative_url }}" class="posts"><i class="fas fa-th-list"></i><span class="button-label">Posts</span></a></li>
          <li class="social"><a href="{{ site.github.repository_url }}" target="_blank" class="github"><i class="fab fa-github-alt"></i><span class="button-label">GitHub</span></a></li>
          <li class="social"><a href="https://twitter.com/boudloForge" target="_blank" class="twitter"><i class="fab fa-twitter-square"></i><span class="button-label">Twitter</span></a></li>
          <li class="social"><a href="https://www.linkedin.com/in/jim-rouse-36b8b11a8/" target="_blank" class="linkedin"><i class="fab fa-linkedin"></i><span class="button-label">LinkedIn</span></a></li>
          <li class="social"><a href="tel:+447911750121" target="_blank" class="mobile"><i class="fas fa-mobile-alt"></i><span class="button-label">Mobile</span></a></li>
          <li class="social"><a href="mailto:jim@boudlo.gg" target="_blank" class="email"><i class="fas fa-envelope"></i><span class="button-label">Email</span></a></li>
        </ul>
      </nav>
    </div>
    
    <div class="wrapper">
      
      <section>

        {{ content }}

      </section>

      <div class="footer">
        <section>
          <hr>
          <span class="credits left">Page maintained by <a href="{{ site.github.owner_url }}" target="_blank">Jim Rouse</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Based on theme by <a href="https://twitter.com/mattgraham" target="_blank">mattgraham</a></span>
        </section>
      </div>

    </div>
  </body>
</html>
