---
layout: default
---

{{content}}

<hr>

<ul>
  {% for post in site.posts %}
    <li>
      <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
      <p>
        {% assign excerptParts = post.excerpt | split: "<!-- excerpt-start -->" %}
        {% if excerptParts[1] and excerptParts[1] != '' %}
          {{ excerptParts[1] | strip_newlines | strip_html | truncatewords: 75 }}
        {% else %}
          {{ post.excerpt | strip_newlines | strip_html | truncatewords: 75 }}
        {% endif %}
        <br>
        <a href="{{ post.url | relative_url }}">read more</a>
      </p>
    </li>
  {% endfor %}
</ul>
